<!-- 마이페이지 내비게이션 바 -->
<nav th:fragment="community-navbar" class="col-md-3">
    <!-- 마이페이지 내비게이션 바 -->
    <div class="p-4">
        <h4 class="mb-4 text-start">커뮤니티</h4>
        <ul class="nav flex-column text-start">
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark hover-bg-blue" href="/community">전체 글 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark" href="/community/post-mine">나의 글 보기</a>
            </li>
            <br>
            <!-- 글쓰기 버튼 -->
            <div class="text-start ms-0">
                <button src="/post-write" type="submit" class="btn btn-primary w-auto">
                    <i class="bi bi-pencil me-2"></i>글쓰기
                </button>
            </div>
        </ul>
    </div>
</nav>