<!-- 마이페이지 내비게이션 바 -->
<nav th:fragment="mypage-navbar" class="col-md-3">
    <!-- 마이페이지 내비게이션 바 -->
    <div class="p-4">
        <h4 class="mb-4 text-start">마이페이지</h4>
        <ul class="nav flex-column text-start">
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark hover-bg-blue" href="/mypage">나의 정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark" href="/mypage-lecture">수강 목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark" href="/mypage-tutor">나의 강의 관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ps-3 menu-link border-start text-dark" href="/mypage-account">계정</a>
            </li>
        </ul>
    </div>
</nav>