<!-- Navigation -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/main">
            <img src="/images/logo.svg" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/main">홈</a></li>
                <li class="nav-item"><a class="nav-link" href="/community">커뮤니티</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/mypage">나의 정보</a></li>
                        <li><a class="dropdown-item" href="/mypage/lecture">수강 목록</a></li>
                        <li><a class="dropdown-item" href="/mypage/tutor">나의 강의 관리</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <!-- 로그인하지 않은 경우 -->
                <div th:if="${!isAuthenticated}">
                    <a href="/web/login" class="btn btn-primary">로그인</a>
                </div>

                <!-- 로그인한 경우 -->
                <div th:if="${isAuthenticated}">
                    <span class="me-2 text-white">[[${username}]]님</span>

                    <a href="/logout" class="btn btn-primary">로그아웃</a>
                </div>
            </form>
        </div>
    </div>
</nav>